{% include "header.html" %}
<div class="featured-drink">
    <h1>{{ drink['strDrink'] }}</h1>
    <div>
        <img src="{{ drink.strDrinkThumb }}" alt="Picture of {{ drink.strDrink }}">
    </div>
    <div class="info">
        <ul>
            {% for item in drink.ingredients %}
            <li>{{ item.amount }} {{ item.ingredient }}</li>
            {% endfor%}
        </ul>
    <div>{{ drink.strInstructions }}</div>
    <div>Serve in: {{ drink.strGlass }}</div>
    </div>
</div>
{% include "footer.html" %}
