<footer>
    <p>Find drinks that start with...</p>
    <div id="letter-bar">
        {% for letter in alphabet %}
        <a href="{{ url_for('list_drinks', letter=letter)}}"
             aria-label="{{ letter }}">
            <div class="letter-square">
                <span class="letter">{{ letter }}</span>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="button-row">
        <a href="{{ url_for('home') }}">
            <button>Random Drink</button>
        </a>
    </div>
    <div class="credits">
        A Lovely Beverage is powered by <a href="https://www.thecocktaildb.com" target="_blank">
        The Cocktail DB API</a>. Free logo created at <a href="https://logomakr.com/" target="_blank">
        LogoMakr.com</a>.
    </div>
</footer>
</body>
</html>