{% include "header.html" %}


<div class="drink-list">
{% for drink in drinks %}
    <div class="drink-list-item">
        <img src="{{ drink.strDrinkThumb }}/preview" alt="Thumbnail of {{ drink.name }}">
        <a href="{{ url_for('show_details', drink_id=drink.idDrink) }}">
            {{ drink['strDrink'] }}
        </a>:
        <span class="drink-list-ingredients">Need: {{ drink.ingredients_str }}</span>
    </div>
{% endfor %}
</div>

<div><a href="{{ url_for('home') }}">Home</a></div>
{% include "footer.html" %}
