{% include "header.html" %}


<div class="drink-list">
{% for drink in drinks %}
    <a href="{{ url_for('show_details', drink_id=drink.idDrink) }}">
        <div class="drink-list-item">
            <div>
                <img src="{{ drink.strDrinkThumb }}" alt="Picture of {{ drink.name }}">
            </div>
            <div class="drink-list-label">
                <div class="drink-list-name">
                        {{ drink['strDrink'] }}
                </div>
                <div class="drink-list-ingredients">Ingredients: {{ drink.ingredients_str }}</div>
            </div>
        </div>
    </a>
{% endfor %}
</div>

{% include "footer.html" %}
